<table border="1">
    <tr>
        <td>CPF</td>
        <td>NOME</td>  
        <td>EXCLUIR</td>  
        <td>EDITAR</td>    
    </tr>    
{{#each usuarios}}
     <tr>
        <td>{{cpf}}</td>
        <td>{{nome}}</td> 
        <td><a href="/excluir/{{cpf}}"> <button> excluir</button></a> </td>   
        <td><a href="/recebe/{{cpf}}/{{nome}}"> <button> EDITAR</button></a></td>    
    </tr>
{{/each}}   
</table>